.body-chat {
  padding-bottom: 0;
}

.chat-header,
.chat-header a {
  background-color: #A0C0D7;
  color: black;
}

.chat-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.chat {
  background-color: #A0C0D7;
  height: 100vh;
  padding: 15px 5px 0 5px;
}

.chat .date-divider {
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-divider .divider__line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 33.3%;
}

.chat__message {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
}

.chat__message-from-me {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.chat__message-from-me .chat__message-body {
  background-color: #FFEB00;
}

.chat__message-body {
  padding: 10px 5px;
  border-radius: 4px;
  background-color: #ffffff;
  margin: 0 5px;
}

.chat__message-to-me img {
  width: 40px;
  border-radius: 50%;
  margin-right: 5px;
  align-self: flex-start;
}

.chat__message-center {
  display: flex;
  flex-direction: column;
}

.chat__message-username {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
}

.chat__message-time {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.type-message {
  width: 100%;
  bottom: 0;
  position: fixed;
  height: 45px;
  background-color: #EDEDED;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px 0 10px;
}

.type-message .fa-plus {
  color: #b4b4b4;
}

.type-message__input {
  width: 95%;
  display: flex;
  align-items: center;
  position: relative;
}

.type-message__input input {
  width: 100%;
  padding: 10px;
}

.type-message__input .fa-smile-o {
  position: absolute;
  right: 40px;
  color: #b4b4b4;
}

.type-message__input .record-message {
  background-color: #FFEB00;
  color: #523636;
  padding: 10px;
}
